@font-face {
    font-family: 'W95Fa';
    src: url(fonts/w95fa.woff2);
}


body{
    background-color: #208c71;
    background-image: url("https://media.tenor.com/VWy0UrGD8tsAAAAj/internet-planet-earth.gif");
    height: 100vh;
    padding: 50px;
    cursor:url(icons/arrow.cur), auto;
}

.backgroundImage{
    background-image: url("https://media.tenor.com/VWy0UrGD8tsAAAAj/internet-planet-earth.gif");
}

.containter{

    /* Typical windows 95 background */
    background-color: #c0c0c0;
    padding: 2px;

    display: flex;
    flex-direction: column;

    font-size: 20px;
    font-family: 'W95Fa', sans-serif;

    /* Window design*/
    border-radius: 0px;
    border-width: 4px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-style: outset;
    border-color: #87888F;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
    box-shadow: 2px 2px 1px rgba(14, 14, 14, 1);
}

.title{
    font-size: 60px;
    font-family: 'W95Fa', sans-serif;
    color: white;
    background-color: #0827f5;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.buttonsTitle{
    display: flex;
    padding: 5px;
    
}

.buttonsTitle button{
    /* Typical windows 95 background */
    background-color: #c0c0c0;
    padding: 2px;
    cursor: url(icons/Cursor_15.cur), pointer; /* Makes it a pointing hand when hovering */

    /* Window design*/
    border-radius: 0px;
    border-width: 4px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-style: outset;
    border-color: #87888F;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
    box-shadow: 2px 2px 1px rgba(14, 14, 14, 1);
}

.buttonsTitle button img{
    width: 30px;
    height: 30px;
    display: block;
    object-fit: contain;
}

.buttonsTitle .closeIcon{
    margin-left: 4px;
}

.websiteImages {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 2px; 
    
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}


.websiteImages img {
    width: 40%; 
    height: 300px; 
    object-fit: cover;
    object-position: top;

    background-image: url("images/Clouds_/Windows_95.png");

    border-radius: 0px;
    border-width: 4px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-style: outset;
    border-color: #87888F;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
    box-shadow: 2px 2px 1px rgba(14, 14, 14, 1);
}

.websiteImages .imageOld{

}

.websiteImages .imageNew{

}


.subtitle{
    font-style: italic;
}

.info{

}

.aboutMe{

}

a:hover{
    cursor: url(icons/help_win95.cur), help;
}
